body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.center,
.center td,
.center th {
  text-align: center;
  text-align: center;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.list-style-none {
  list-style: none;
}
/***************************
*	Games Table
***************************/
.gamesPlayed {
  margin: 0;
  list-style: none;
}
.gamesPlayed li {
  border-top: 1px solid #ddd;
  margin-bottom: 20px;
  padding-top: 10px;
}
.redWins .redPlayer,
.blueWins .bluePlayer {
  background: #daffd5;
}
.blueWins .redPlayer,
.redWins .bluePlayer {
  background: #ffe4e4;
}
/***************************
*	Player Detail Page
***************************/
.userImageWrapper img {
  padding: 5px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  width: 210px;
  height: 210px;
  border: 1px solid #ddd;
}
/************************
*    FORM STYLES
*************************/
input[type="number"].ng-invalid {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}
@media (max-width: 767px) {
  #addGameDialog th {
    font-size: 10px;
    padding: 10px 0;
    margin: 0px;
  }
  #addGameDialog select,
  #addGameDialog input {
    max-width: 75px;
  }
  #addGameDialog .modal-body {
    padding: 0;
  }
}
/************************
*    Error STYLES
*************************/
.errorDisplay {
  background-color: #f00;
  padding: 5px;
  font-size: 20px;
}
