body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.center{
	text-align: center;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}