body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.center,
.center td,
.center th {
  text-align: center;
  text-align: center;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
  border: 1px solid #f00;
}
/*
 * Games Table
 */
.gamesPlayed {
  margin: 0;
  list-style: none;
}
.gamesPlayed li {
  border-top: 1px solid #ddd;
  margin-bottom: 20px;
  padding-top: 10px;
}
