<div class="searchBox float-right">
	Search: <input ng-model="query">
</div>
<h1>{{title}}</h1>
<div>
	<ul class="matchesPlayed" style="margin:0; list-style: none;">
		<li ng-repeat="match in matches | filter:query ">
			<div class="row">
				<div class="span5 center"><a href="#/players/{{match.redPlayerDetails.0._id}}">{{match.redPlayerDetails.0.fname}} "{{match.redPlayerDetails.0.nickname}}" {{match.redPlayerDetails.0.lname}}</a> </div>
				<div class="span2 center"><a href="#/matches/{{match._id}}">VS
					{{ match.dateTime | date:'yyyy-MM-dd HH:mm:ss'}}
				</a></div>
				<div class="span5 center"><a href="#/players/{{match.bluePlayerDetails.0._id}}">{{match.bluePlayerDetails.0.fname}} "{{match.bluePlayerDetails.0.nickname}}" {{match.bluePlayerDetails.0.lname}}</a></div>
			</div>
			<div ng-repeat="game in match.games | filter:query | orderBy:orderProp" class="row">
				<div class="span5 center"><span class="badge">{{game.redScore}}</span></div>
				<div class="span2 center">GAME {{ $index +1 }}</div>
				<div class="span5 center"><span class="badge">{{game.blueScore}}</span></div>
			</div>
		</li>
	</ul>
	Matches Played: ({{matches.length}}) <br>
	<a href="Javascript:alert('{{matches | json}}');">Show JSON</a>
	<h2>Add Match</h2>
	Player 1: <select ng-options="player.lname for player in players" name="redPlayer" id="redPlayer" ng-model='form.redPlayer'></select></br>
	Player 2: <select ng-options="player.lname for player in players" name="redPlayer" id="bluePlayer" ng-model='form.bluePlayer'></select></br>
	<h3>Game 1 Scores</h3>
	Player 1: <input type="text" name="game1RedPlayer" ng-model='form.game1RedPlayer'><br>
	Player 2: <input type="text" name="game1BluePlayer" ng-model='form.game1BluePlayer'><br>
	<h3>Game 2 Scores</h3>
	Player 1: <input type="text" name="game2RedPlayer" ng-model='form.game2RedPlayer'><br>
	Player 2: <input type="text" name="game2BluePlayer" ng-model='form.game2BluePlayer'><br>
	<h3>Game 3 Scores</h3>
	Player 1: <input type="text" name="game3RedPlayer" ng-model='form.game3RedPlayer'><br>
	Player 2: <input type="text" name="game3BluePlayer" ng-model='form.game3BluePlayer'><br>
	<button ng-click='addMatch()'>Add Match</button>
</div>
