
<ul class="gamesPlayed" style="margin:0; list-style: none;">
	<li>
		<div class="row">
			<div class="span5 center"><a href="#/players/{{gameData.redPlayerDetails.0._id}}">{{gameData.redPlayerDetails.0.fname}} "{{gameData.redPlayerDetails.0.nickname}}" {{gameData.redPlayerDetails.0.lname}}</a> </div>
			<div class="span2 center"><a href="#/gameDatas/{{gameData._id}}">VS</a></div>
			<div class="span5 center"><a href="#/players/{{gameData.redPlayerDetails.0._id}}">{{gameData.bluePlayerDetails.0.fname}} "{{gameData.bluePlayerDetails.0.nickname}}" {{gameData.bluePlayerDetails.0.lname}}</a></div>
		</div>
		<div ng-repeat="match in gameData.matches | filter:query | orderBy:orderProp" class="row">
			<div class="span5 center"><span class="badge">{{match.redScore}}</span></div>
			<div class="span2 center">MATCH {{ $index +1 }}</div>
			<div class="span5 center"><span class="badge">{{match.blueScore}}</span></div>
		</div>
	</li>
</ul>