<div class="searchBox float-right">
	Search: <input ng-model="query">
	<a href="#addGameDialog" data-toggle="modal" class="btn btn-primary">Add Match</a>
</div>
<div>
	<alert class="errorDisplay" ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{ alert.msg }}</alert>
</div>
<h1>{{title}}</h1>
<div>
	<ul style="margin:0; list-style: none;">
		<li ng-repeat="match in matches | filter:query | orderBy:predicate:reverse ">
			<div class="row well" style="padding-bottom: 20px;">
				<div class="span4 offset1">
					<div class="pull-left">
						<img ng-src="{{match.winner.gravatar + '&s=125'}}">
					</div>
					<div class="center">
						<a href="#/players/{{match.winner._id}}">
							{{match.winner.fname}} "{{match.winner.nickname}}" {{match.winner.lname}}
						</a>
						<br>
						{{ match.winnerRating }} ({{match.ratingChange}})
						<div ng-repeat="game in match.games | filter:query | orderBy:orderProp">
							<div><span class="badge {{badgeColor(game.winnerScore, game.loserScore)}}">{{game.winnerScore}}</span></div>
						</div>
					</div>
				</div>
				<div class="span2 center">
					<a href="#/matches/{{match._id}}">{{ match.createdDate | date:'MM/dd/yyyy h:mm'}}</a>
					<br /><br />
					<div ng-repeat="game in match.games | filter:query | orderBy:orderProp" class="row">
						<div>GAME {{ $index +1 }}</div>
					</div>
				</div>
				<div class="span4">
					<div class="pull-right">
						<img ng-src="{{match.loser.gravatar + '&s=125'}}">
					</div>
					<div class="center">
						<a href="#/players/{{match.loser._id}}">
							{{match.loser.fname}} "{{match.loser.nickname}}" {{match.loser.lname}}
						</a>
						<br>
						{{ match.loserRating }} ({{-match.ratingChange}})
						<div ng-repeat="game in match.games | filter:query | orderBy:orderProp">
							<div><span class="badge {{badgeColor(game.loserScore, game.winnerScore)}}">{{game.loserScore}}</span></div>
						</div>
					</div>
				</div>
			</div>
		</li>
	</ul>
	Matches Played: ({{matches.length}}) <br>

</div>


<div id="addGameDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Add Game" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="editPlayerDialogLabel">Add a new match</h3>
	</div>
	<div class="modal-body">
		<form name="addMatchForm" class="ng-valid-required" novalidate>

			<table class="table table-striped center">
				<tbody>
					<tr>
						<td><select ng-options="player.fullName for player in players | orderBy:'fname'" name="redPlayer" id="redPlayer" ng-model='form.redPlayer' required></select></td>
						<th>vs</th>
						<td><select ng-options="player.fullName for player in players | orderBy:'fname'" name="bluePlayer" id="bluePlayer" ng-model='form.bluePlayer' required></select></td>
					</tr>
					<tr>
						<td><input name="game1RedPlayer" ng-model='form.game1RedPlayer' required type="number" ng-pattern="/\d+/" step="1" min="0"></td>
						<th>Game 1</th>
						<td><input name="game1BluePlayer" ng-model='form.game1BluePlayer' required type="number" ng-pattern="/\d+/" step="1" min="0"></td>
					</tr>
					<tr>
						<td><input name="game2RedPlayer" ng-model='form.game2RedPlayer' required type="number" ng-pattern="/\d+/" step="1" min="0"><br></td>
						<th>Game 2</th>
						<td><input name="game2BluePlayer" ng-model='form.game2BluePlayer' required type="number" ng-pattern="/\d+/" step="1" min="0"></td>
					</tr>
					<tr>
						<td><input name="game3RedPlayer" ng-model='form.game3RedPlayer' type="number" ng-pattern="/\d+/" step="1" min="0"></td>
						<th>Game 3</th>
						<td><input name="game3BluePlayer" ng-model='form.game3BluePlayer' type="number" ng-pattern="/\d+/" step="1" min="0"><br></td>
					</tr>
				</tbody>
			</table>

		</form>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		<button id="AddGameBtn" ng-click="addMatch()" ng-disabled="addMatchForm.$invalid || isUnchanged(addMatchForm)" data-dismiss="modal" class="btn btn-primary">Add Match</button>
	</div>
</div>


<script type="text/javascript">
	$('#addGameDialog').on('shown', function () {
		$('select:visible:first', this).focus();
	});

	$("form input").keypress(function(e){
		if(e.keyCode == 13){
			$("#AddGameBtn").trigger("click");
		}
	});
</script>
