<div class="float-right">
	<ul class="list-style-none">
		<li>
			<a href="#Edit"><i class="icon-edit"></i> Edit</a>
		</li>
		<li><a href="#removeMatchConfirmation" data-toggle="modal" ><i class="icon-remove"></i> Delete!</a></li>
	</ul>

</div>
<h1>{{title}}</h1>
<ul class="matchesPlayed" style="margin:0; list-style: none;">
	<li>
		<div class="row">
			<div class="span5 center"><a href="#/players/{{matchData.redPlayerDetails.0._id}}">{{matchData.redPlayerDetails.0.fname}} "{{matchData.redPlayerDetails.0.nickname}}" {{matchData.redPlayerDetails.0.lname}}</a> </div>
			<div class="span2 center"><a href="#/matchDatas/{{matchData._id}}">{{ matchData.createdDate | date:'MM/dd/yyyy h:mm'}}</a></div>
			<div class="span5 center"><a href="#/players/{{matchData.bluePlayerDetails.0._id}}">{{match.bluePlayerDetails.0.fname}} "{{matchData.bluePlayerDetails.0.nickname}}" {{matchData.bluePlayerDetails.0.lname}}</a></div>
		</div>
		<div ng-repeat="game in matchData.games | filter:query | orderBy:orderProp" class="row">
			<div class="span5 center"><span class="badge">{{game.redScore}}</span></div>
			<div class="span2 center">GAME {{ $index +1 }}</div>
			<div class="span5 center"><span class="badge">{{game.blueScore}}</span></div>
		</div>
	</li>
</ul>

<div id="removeMatchConfirmation" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Remove Match" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="removePlayerConfirmationLabel">Delete Match</h3>
	</div>
	<div class="modal-body">
		<p>Are you sure you wish to remove this match?</p>
		<p>This match will be added to a public "Recently Deleted Matches" area for all to see!</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		<button ng-click="deleteMatch()" class="btn btn-primary">Yes, remove.</button>
	</div>
</div>
