<div class="float-right">
	<ul class="list-style-none">
		<li>
			<a href="#Edit"><i class="icon-edit"></i> Edit</a>
		</li>
		<li><a href="#removeMatchConfirmation" data-toggle="modal" ><i class="icon-remove"></i> Delete!</a></li>
	</ul>

</div>
<h1>{{title}}</h1>
<ul style="margin:0; list-style: none;">
	<li>
		<div class="row well" style="padding-bottom: 20px;">
			<div class="span4 offset1">
				<div class="pull-left">
					<img ng-src="{{matchData.winner.gravatar + '&s=125'}}">
				</div>
				<div class="center">
					<a href="#/players/{{matchData.winner._id}}">
						{{matchData.winner.fname}} "{{matchData.winner.nickname}}" {{matchData.winner.lname}}
					</a>
					<br>
					{{ matchData.winnerRating }} ({{matchData.ratingChange}})
					<div ng-repeat="game in matchData.games | filter:query | orderBy:orderProp">
						<div><span class="badge {{badgeColor(game.winnerScore, game.loserScore)}}">{{game.winnerScore}}</span></div>
					</div>
				</div>
			</div>
			<div class="span2 center">
				<a href="#/matches/{{matchData._id}}">{{ matchData.createdDate | date:'MM/dd/yyyy h:mm'}}</a>
				<br /><br />
				<div ng-repeat="game in matchData.games | filter:query | orderBy:orderProp" class="row">
					<div>GAME {{ $index +1 }}</div>
				</div>
			</div>
			<div class="span4">
				<div class="pull-right">
					<img ng-src="{{matchData.loser.gravatar + '&s=125'}}">
				</div>
				<div class="center">
					<a href="#/players/{{matchData.loser._id}}">
						{{matchData.loser.fname}} "{{matchData.loser.nickname}}" {{matchData.loser.lname}}
					</a>
					<br>
					{{ matchData.loserRating }} ({{-matchData.ratingChange}})
					<div ng-repeat="game in matchData.games | filter:query | orderBy:orderProp">
						<div><span class="badge {{badgeColor(game.loserScore, game.winnerScore)}}">{{game.loserScore}}</span></div>
					</div>
				</div>
			</div>
		</div>
	</li>
</ul>

<div id="removeMatchConfirmation" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Remove Match" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="removePlayerConfirmationLabel">Delete Match</h3>
	</div>
	<div class="modal-body">
		<p>Are you sure you wish to remove this match?</p>
		<p>This match will be added to a public "Recently Deleted Matches" area for all to see!</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		<button ng-click="deleteMatch()" data-dismiss="modal" class="btn btn-primary">Yes, remove.</button>
	</div>
</div>
