<div class="row">
	<div class="span12">
		<div class="float-right">
			<a class="btn btn-primary" target="_blank" href="https://github.com/jshemas/PingPong/issues?state=open"><i class="icon-edit"></i> Request a feature</a>
		</div>

		<h3>Recent Updates</h3>
		<h6>10/3/2013</h6>
		<ul>
			<li>Added gravatar images</li>
			<li>Changed the way games appear</li>
			<li>Changed match data structures to use winner/loser instead of redPlayer/bluePlayer</li>
			<li>Changed player data structure to store win/loss statistics for each player</li>
		</ul>
		<h6>9/3/2013</h6>
		<ul>
			<li>Made the match-list & Adding a game responsive so you can do it on your phone.</li>
			<li>Fixed the way the dates are displayed</li>
			<li>Re-ordering games newest to oldest</li>
			<li>Add Player & Matches is now put in dialogs.</li>
			<li>Dialogs now focus on first input.</li>
			<li>Switching from "Ratio" to "Win%"</li>
			<li>Added ability to Edit/Remove Players</li>
			<li>Added ability to Remove Games</li>

		</ul>
	</div>
</div>

