<div class="row">
	<div class="span4">
		<div class="userImageWrapper">
			<img src="/images/PingPongPlaceholder3.jpg" alt="" height="200px"/>
		</div>
	</div>
	<div class="span8">
		<div class="float-right">
			<ul class="list-style-none">
				<li>
					<a href="#Edit"><i class="icon-edit"></i> Edit</a>
				</li>
				<li><a href="#Delete"><i class="icon-remove"></i> Delete</a></li>
			</ul>
		</div>

		<h3>{{userData.fname}} "{{userData.nickname}}" {{userData.lname}}</h3>

		<table class="table">
			<tbody>
				<tr>
					<th>Games Played:</th>
					<td>{{userData.gamesPlayed}}</td>
				</tr>
				<tr>
					<th>Wins</th>
					<td>{{userData.wins}}</td>
				</tr>
				<tr>
					<th>Losses</th>
					<td>{{userData.losses}}</td>
				</tr>
				<tr>
					<th>Ratio</th>
					<td>{{userData.ratio}}</td>
				</tr>
				<tr>
					<th>Streak</th>
					<td>{{userData.streak}}</td>
				</tr>

			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<h3>Player's Recent Games ({{gameData.length}})</h3>
	<ul class="gamesPlayed" style="margin:0; list-style: none;">
		<li ng-repeat="game in gameData | filter:query ">
			<div class="row">
				<div class="span5 center"><a href="#/players/{{game.redPlayerDetails.0._id}}">{{game.redPlayerDetails.0.fname}} "{{game.redPlayerDetails.0.nickname}}" {{game.redPlayerDetails.0.lname}}</a> </div>
				<div class="span2 center"><a href="#/games/{{game._id}}">VS
					{{ game.dateTime | date:'yyyy-MM-dd HH:mm:ss'}}
				</a></div>
				<div class="span5 center"><a href="#/players/{{game.bluePlayerDetails.0._id}}">{{game.bluePlayerDetails.0.fname}} "{{game.bluePlayerDetails.0.nickname}}" {{game.bluePlayerDetails.0.lname}}</a></div>
			</div>
			<div ng-repeat="match in game.matches | filter:query | orderBy:orderProp" class="row">
				<div class="span5 center"><span class="badge">{{match.redScore}}</span></div>
				<div class="span2 center">MATCH {{ $index +1 }}</div>
				<div class="span5 center"><span class="badge">{{match.blueScore}}</span></div>
			</div>
		</li>
	</ul>

</div>