<div class="searchBox float-right">
	Search: <input ng-model="query">
	<a href="#addPlayerDialog" data-toggle="modal" class="btn btn-primary">Add Player</a>
</div>
<h1>{{title}}</h1>
<div>
	<table class="table">
		<thead class="center">
			<tr>
				<th>Player:</th>
				<th>Rating</th>
				<th>Games Played</th>
				<th>Wins</th>
				<th>Losses</th>
				<th>Win %</th>
				<th>Streak</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="player in players | filter:query | orderBy:predicate:reverse " class="center">
				<td><a href="#/players/{{player._id}}">{{player.fname}} "{{player.nickname}}" {{player.lname}}</a> </td>
				<td>{{player.rating}}</td>
				<td>{{player.gamesPlayed}}</td>
				<td>{{player.wins}}</td>
				<td>{{player.losses}}</td>
				<td>{{player.ratio}}%</td>
				<td>{{player.streak}}</td>
			</tr>
		</tbody>
	</table>
	<hr>

</div>


<div id="addPlayerDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Add Game" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="editPlayerDialogLabel">Add a new player</h3>
	</div>
	<div class="modal-body">
		First name: <input type="text" name="firstName" ng-model='form.firstName'><br>
		Nickname: <input type="text" name="nickname" ng-model='form.nickname'><br>
		Last name: <input type="text" name="lastName" ng-model='form.lastName'><br>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		<button ng-click='addPlayer()' ng-disabled="addMatchForm.$invalid || isUnchanged(addMatchForm)" data-dismiss="modal" class="btn btn-primary">Add Player</button>
	</div>
</div>

<script type="text/javascript">
	$('#addPlayerDialog').on('shown', function () {
		$('input:visible:first', this).focus();
	});
</script>
