<!-- TOP NAV -->
<div class="navbar hd navbar-top">
	<div class="navbar-inner hd-wrp">
		<div class="container">
			<!-- THIS IS THE CALLAPSED NAV BUTTON -->
			<button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><a href="/" class="link link-browse">Home</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							Matches<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="/#/matches">Matches</a></li>
							<li><a href="/#/matchesDelete">Deleted Matches</a></li>
						</ul>
					</li>
					<li><a href="/#/players" class="link link-browse">Players</a></li>
					<!-- <li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							Team Matches<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="/#/teamMatches">Team Matches</a></li>
							<li><a href="/#/teamMatchesDelete">Deleted Team Matches</a></li>
						</ul>
					</li> --->
					<li><a href="/#/teams" class="link link-browse">Teams</a></li>
					<li><a href="/#/updates" class="link link-browse">Recent Updates</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- END TOP NAV -->